*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  font-size: 62.5%;
  font-weight: normal;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(6, 6, 6, 1) 100%);
  color: #ffffff;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button, input {
  outline: none;
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  width: 130rem;
}

.button {
  padding: 1rem 3rem;
  font-size: 1.6rem;
  border-radius: 5rem;
  color: #ffffff;
}

.header {
  padding: 4rem 11rem 4rem 8rem;
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
}

.header__wrap {
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: block;
  width: 4rem;
  height: 4rem;
}

.header__nav {
  margin-right: 55.3rem;
  gap: 7.1rem;
}

.header__nav a {
  font-size: 1.6rem;
}

.header__button {
  background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
}

.main-display__header {
  margin-bottom: 5rem;
  max-width: 70rem;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 140%;
}

.main-display__timer {
  margin-bottom: 7.6rem;
  gap: 3rem;
}

.timer__item {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10.2rem;
  height: 10.2rem;
  background-color: #121212;
}

.timer__count {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 140%;
}

.timer__text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 140%;
  text-align: center;
  opacity: 0.4;
}

.main-display__button {
  background: linear-gradient(141deg, #df5950 0%, #451046 100%);
}

.main-display {
  padding-top: 27rem;
}

.main-display .container {
  position: relative;
  z-index: 10;
}

.main-display__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}