*, *::after, *::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-white: #ffffff;
  --color-modal-bg: #2c2c2c;
  --bg-timer: #121212;
  --gradient-bg: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(6, 6, 6, 1) 100%);
  --gradient-btn-1: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
  --gradient-btn-2: linear-gradient(141deg, #df5950 0%, #451046 100%);
  --gradient-line: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
  --gradient-course: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  --gradient-icon: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
  --text-size-medium: 1.6rem;
}

html, body {
  font-family: 'Roboto', system-ui;
  font-size: 62.5%;
  font-weight: 400;
  background: var(--gradient-bg);
  color: var(--color-white);
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

button, input {
  outline: none;
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  width: 130rem;
}

.section-title {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
}

.block-center {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 1rem 3rem;
  font-size: var(--text-size-medium);
  line-height: 150%;
  text-align: center;
  border-radius: 5rem;
  color: var(--color-white);
}

.header {
  padding: 4rem 11rem 4rem 8rem;
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
}

.header__wrap {
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: block;
  width: 4rem;
  height: 4rem;
}

.header__menu {
  align-items: center;
  justify-content: space-between;
  gap: 55.3rem;
}

.header__nav {
  gap: 7.1rem;
}

.header__nav a {
  font-size: var(--text-size-medium);
  line-height: 150%;
  text-align: center;
}

.header__button {
  background: var(--gradient-btn-1);
}

.main-display__header {
  margin-bottom: 5rem;
  max-width: 70rem;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 140%;
}

.main-display__timer {
  margin-bottom: 8.6rem;
  gap: 3rem;
}

.timer__item {
  width: 10.2rem;
  height: 10.2rem;
  background-color: var(--bg-timer);
}

.timer__count {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 140%;
}

.timer__text {
  font-size: var(--text-size-medium);
  line-height: 140%;
  text-align: center;
  opacity: 0.4;
}

.main-display__button {
  font-weight: 700;
  background: var(--gradient-btn-2);
}

.main-display {  
  padding-top: 27rem;
}

.main-display .container {
  padding-bottom: 22.8rem;
  position: relative;
  z-index: 10;
}

.main-display__background {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.course {
  margin: 8rem 0;
  padding-top: 10rem;
}

.course__wrap {
  display: flex;
  align-items: center;
  font-size: var(--text-size-medium);
}

.course-button__wrap {
  display: flex;
  flex-shrink: 0;
  margin-right: 8.1rem;
}

.course__button {
  background: var(--gradient-course);
}

.course__counter {
  min-width: 25.1rem;
  margin-right: 8.1rem;
}

.course__counter-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.course__counter-line,
.course__progress-label {
  color: #FFFFFF40;
}

.course__progress-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 27.9rem;
}

.course__number {
  font-weight: 700;
  color: var(--color-white);
}

.course__progress {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.course__progress-element {
  width: 100%;
}

.course__progress-minmax {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF40;
}

progress,
progress[value],
progress:not([value]) {
  appearance: none;
  width: 100%;
  margin: 0.5rem 0;
}

progress::-webkit-progress-bar {
  background: var(--color-white);
  height: 0.6rem;
}

progress::-webkit-progress-value {
  background: var(--gradient-course);
  height: 0.6rem;
}

progress {
  background: var(--color-white);
  height: 0.6rem;
  pointer-events: none;
}

progress::-moz-progress-value {
  background: var(--gradient-course);
  height: 0.6rem;
}

.progress-layer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--gradient-course);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 1s linear;
}

#money-progress[value]:not([value='0'])~.progress-layer {
  transform: scaleX(var(--percent, 0));
}

.work {
  padding: 20rem 30.7rem 20rem 31.2rem;
}

.work__wrap {
  flex-direction: row;
  gap: 13.4rem;
}

.work__img {
  width: 52.6rem;
  height: 54.2rem;
}

.work__text {
  padding: 6.9rem 0 0 0;
  max-width: 63.6rem;
}

.work__header {
  margin-bottom: 4.5rem;
}

.work__description {
  font-size: var(--text-size-medium);
  line-height: 160%;
}

.process {
  padding-bottom: 20rem;
  position: relative;
}

.process__title {
  margin: 0 0 2rem -1.5rem;
  align-items: center;
  gap: 1.8rem;
}

.process__img {
  width: 12.7rem;
  height: 12.7rem;
}

.process__description {
  margin: 0 0 8.2rem 0.5rem;
  max-width: 41.1rem;
  font-size: var(--text-size-medium);
  line-height: 160%;
  opacity: 0.5;
}

.process__columns {
  flex-wrap: wrap;
  column-gap: 1.8rem;
}

.process__columns::after {
  content: '';
  position: absolute;
  display: block;
  width: 130rem;
  height: 0.2rem;
  top: 34.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  background: var(--gradient-line);
}

.process__item {
  flex-direction: column;
  gap: 6.5rem;
  max-width: 30.6rem;
}

.process__work {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 140%;
}

.process__text {
  font-size: 1.4rem;
  line-height: 160%;
  opacity: 0.5;
}

.program {
  margin-bottom: 20rem;
}

.program__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.program__content::before {
  content: '';
  position: absolute;
  background-image: url('../images/line.png');
  width: 8.6rem;
  height: 100%;
  background-repeat: no-repeat;
  left: 50%;
  transform: translateX(-50%);
}

.program-line {
  display: flex;
  justify-content: space-between;
  width: 75rem;
}

.program-line__content:nth-child(n) {
  text-align: right;
}

.program-line__content:nth-child(2n) {
  text-align: left;
  margin-top: 7.6rem;
}


.program__image {
  margin: 0 auto;
  width: 9rem;
  margin-bottom: 7.6rem;
}

.program__header {
  text-align: center;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
}

.program__description {
  max-width: 41rem;
  text-align: center;
  font-weight: 400;
  font-size: var(--text-size-medium);
  line-height: 160%;
  color: #FFFFFF40;
  margin: 3rem auto 8rem auto;
}

.program-line__content {
  width: 30.4rem;
  height: 11.5rem;
}

.program-line__descr {
  height: 0;
  overflow: hidden;
}

.program-line__descr.active {
  height: auto;
  overflow: auto;
}

.program-line__title {
  cursor: pointer;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 160%;
  color: #FFFFFF40;
}

.program-line__descr {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 160%;
}

.command {
  padding-bottom: 20rem;
}

.command__title {
  margin: 0 0 6rem -2.5rem;
  align-items: center;
}

.command__wrap {
  padding: 0 11rem;
  justify-content: space-between;
}

.command__img {
  margin-bottom: 4rem;
  width: 19rem;
  height: 19rem;
  border-radius: 50%;
}

.command__name {
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 140%;
}

.command__professional {
  margin-bottom: 3rem;
  font-size: var(--text-size-medium);
  line-height: 160%;
  opacity: 0.8;
}

.command__link {
  border: 1px solid var(--color-white);
}

.assembly {
  padding-bottom: 24.4rem;
}

.assembly__header {
  margin-bottom: 3rem;
}

.assembly__descr {
  margin-bottom: 4.5rem;
  font-size: var(--text-size-medium);
  line-height: 160%;
  opacity: 0.5;
}

.assembly__btn {
  margin-bottom: 4rem;
  background: var(--gradient-btn-2);
}

.assembly__social {
  gap: 3rem;
}

.assembly__item {
  padding: 1.3rem;
  border-radius: 100%;
  background: var(--gradient-icon);
}

.modal {
  display: none;
  padding: 3rem 0;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal__inner {
  padding: 9rem 1rem;
  position: relative;
  width: 66.3rem;
  height: 55.1rem;
  text-align: center;
  background-color: var(--color-modal-bg);
}

.modal__header {
  margin-bottom: 1rem;
}

.modal__subheader {
  margin-bottom: 2.8rem;
  font-size: var(--text-size-medium);
  line-height: 160%;
  text-align: center;
  opacity: 0.5;
}

.modal__elements {
  margin: 0 auto 3.2rem auto;
  width: 45.4rem;
}

.modal__item {
  height: 4.4rem;
}

.modal__input {
  padding: 1.1rem 3rem;
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  line-height: 160%;
  border-radius: 5rem;
  background-color: rgb(112, 112, 112);
  color: var(--color-white);
}

.modal__input::placeholder {
  opacity: 0.8;
  color: var(--color-white);
}

.modal__item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.modal__close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  background-size: 5rem 5rem;
  background-repeat: no-repeat;
  background-image: url('../images/cross.svg');
  background-color: var(--color-modal-bg);
}

.noscroll {
  height: 100%;
  overflow: hidden;
}

/*@media (max-width: 1700px) {

  .main-display .container {
    padding-bottom: 0;
  }

  .work__wrap {
    flex-direction: column;
    justify-content: center;
    gap: 10rem;
  }

  .process__columns {
    column-gap: 1.8rem;
    row-gap: 5rem;
  }

  .process__item {
    max-width: 63rem;
  }

  .process__columns::after {
    display: none;
  }
}

@media (max-width: 1500px) {
  .header__wrap {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 3rem;
  }

  .header__menu {
    flex-direction: column;
    align-items: self-start;
    gap: 3rem;
  }

  .header__nav a {
    font-size: 1.4rem;
  }

  .button {
    font-size: 1.4rem;
  }

  .main-display__header {
    max-width: 50rem;
    font-size: 4.8rem;
  }

  .timer__item {
    width: 8.2rem;
    height: 8.2rem;
  }

  .timer__count {
    font-size: 2.4rem;
  }

  .timer__text {
    font-size: 1.4rem;
  }

  .section-title {
    font-size: 3.2rem;
  }

  .process__columns{
    justify-content: space-between;
    column-gap: 0;
  }

  .process__item {
    max-width: 50rem;
  }
}

@media (max-width: 1350px) {
  .main-display .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100rem;
  }

  .main-display__timer {
    margin-bottom: 5rem;
  }

  .process__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .process__columns {
    flex-direction: column;
  }

  .process__item {
    max-width: 65rem;
  }

  .command__title {
    justify-content: center;
  }
}*/