*, *::after, *::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-white: #ffffff;
  --bg-timer: #121212;
  --gradient-bg: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(6, 6, 6, 1) 100%);
  --gradient-btn-1: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
  --gradient-btn-2: linear-gradient(141deg, #df5950 0%, #451046 100%);
  --gradient-line: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
}

html, body {
  font-family: 'Roboto', system-ui;
  font-size: 62.5%;
  font-weight: normal;
  background: var(--gradient-bg);
  color: var(--color-white);
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

button, input {
  outline: none;
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  width: 130rem;
}

.button {
  padding: 1rem 3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  border-radius: 5rem;
  color: var(--color-white);
}

.header {
  padding: 4rem 11rem 4rem 8rem;
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
}

.header__wrap {
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: block;
  width: 4rem;
  height: 4rem;
}

.header__menu {
  align-items: center;
  justify-content: space-between;
  gap: 55.3rem;
}

.header__nav {
  gap: 7.1rem;
}

.header__nav a {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

.header__button {
  background: var(--gradient-btn-1);
}

.main-display__header {
  margin-bottom: 5rem;
  max-width: 70rem;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 140%;
}

.main-display__timer {
  margin-bottom: 8.6rem;
  gap: 3rem;
}

.timer__item {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10.2rem;
  height: 10.2rem;
  background-color: var(--bg-timer);
}

.timer__count {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 140%;
}

.timer__text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 140%;
  text-align: center;
  opacity: 0.4;
}

.main-display__button {
  font-weight: 700;
  background: var(--gradient-btn-2);
}

.main-display {  
  padding-top: 27rem;
}

.main-display .container {
  padding-bottom: 22.8rem;
  position: relative;
  z-index: 10;
}

.main-display__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.work {
  padding: 20rem 30.7rem 20rem 31.2rem;
}

.work__wrap {
  flex-direction: row;
  gap: 13.4rem;
}

.work__img {
  width: 52.6rem;
  height: 54.2rem;
}

.work__text {
  padding: 6.9rem 0 0 0;
  max-width: 63.6rem;
}

.work__header {
  margin-bottom: 4.5rem;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
}

.work__description {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 160%;
}

.process {
  padding-bottom: 20rem;
  position: relative;
}

.process__title {
  margin: 0 0 2rem -1.5rem;
  align-items: center;
  gap: 1.8rem;
}

.process__img {
  width: 12.7rem;
  height: 12.7rem;
}

.process__header {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
}

.process__description {
  margin: 0 0 8.2rem 0.5rem;
  max-width: 41.1rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 160%;
  opacity: 0.5;
}

.process__columns {
  flex-wrap: wrap;
  column-gap: 1.8rem;
}

.process__columns::after {
  content: '';
  position: absolute;
  display: block;
  width: 130rem;
  height: 0.2rem;
  top: 34.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  background: var(--gradient-line);
}

.process__item {
  flex-direction: column;
  gap: 6.5rem;
  max-width: 30.6rem;
}

.process__work {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 140%;
}

.process__text {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 160%;
  opacity: 0.5;
}

@media (max-width: 1700px) {
  .work__wrap {
    flex-direction: column;
    gap: 10rem;
  }

  .process__columns {
    column-gap: 1.8rem;
    row-gap: 5rem;
  }

  .process__item {
    max-width: 63rem;
  }

  .process__columns::before {
    content: '';
    position: absolute;
    display: block;
    width: 130rem;
    height: 0.2rem;
    top: 56rem;
    left: 50%;
    transform: translate(-50%, 0);
    background: var(--gradient-line);
  }
}

@media (max-width: 1500px) {
  .header__wrap {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
  }

  .header__menu {
    justify-content: space-between;
  }
}